{:highlights [{:id #uuid "677bdd24-6865-403a-9c84-b1b62ca2228d",
               :page 26,
               :position {:bounding {:x1 151.265625,
                                     :y1 882.34375,
                                     :x2 414.88671875,
                                     :y2 909.34375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 151.265625,
                                   :y1 882.34375,
                                   :x2 414.88671875,
                                   :y2 909.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 26},
               :content {:text "Programming is a craft. "},
               :properties {:color "yellow"}}
              {:id #uuid "677bdd2c-44d2-4ef8-a5a2-98d607061d22",
               :page 26,
               :position {:bounding {:x1 151.265625,
                                     :y1 882.34375,
                                     :x2 855.1134033203125,
                                     :y2 974.28125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 414.8697509765625,
                                   :y1 882.34375,
                                   :x2 855.1134033203125,
                                   :y2 909.34375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 151.265625,
                                   :y1 914.8125,
                                   :x2 798.13671875,
                                   :y2 941.8125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 151.265625,
                                   :y1 947.28125,
                                   :x2 317.504638671875,
                                   :y2 974.28125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 26},
               :content {:text "At its simplest, it comes down to getting a computer to do what you want it to do (or what your user wants it to do)."},
               :properties {:color "yellow"}}
              {:id #uuid "677bdd30-f73c-4675-b0fc-f302c1f13373",
               :page 26,
               :position {:bounding {:x1 151.265625,
                                     :y1 947.28125,
                                     :x2 806.1260986328125,
                                     :y2 1006.75,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 323.6519775390625,
                                   :y1 947.28125,
                                   :x2 806.1260986328125,
                                   :y2 974.28125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 151.265625,
                                   :y1 979.75,
                                   :x2 617.480224609375,
                                   :y2 1006.75,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 26},
               :content {:text "As a programmer, you are part listener, part advisor, part interpreter, and part dictator."},
               :properties {:color "yellow"}}],
 :extra {:page 26}}
